/* 
* Aki Löthman
* Habanerot
* Web-projekti 2020 
*/

body {
    background-color: #D4E7EE;
    max-width: 960px;
    margin: auto;
}

main {
    padding: 0em, 0em, 0em, 0em;
}

header {
    background-color: #36738C;
}

.navbar {
    padding: 0em, 0em, 0em, 0em;
}
footer {
    background-color: #36738C;
}
footer p {
    margin: 1em;
}
section {
    max-width: 480px;
    padding: 20px;
    text-align: center;
}
h6 {
    font-family: 'Bungee Shade', cursive;
    font-size: 3em;
    padding-bottom: 20px;
    color: black;
}

label{
    display:block;
    background:goldenrod;
    width: 80%;
    padding:10px;
    border:1px solid #ccc;
    margin:10px auto;
}
label:hover{
    background: gold;
    cursor: pointer;
}
.green{
    background:#7f7;
    border:1px solid #0c0;
}
.green:hover{
    background:#4f4;
}
.red{
    background:#f77;
    border:1px solid #c00;
}
.red:hover{
    background:#f44;
}
.loota {
    border: solid black 1px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
}
.kyssäri {
    border-bottom: solid goldenrod 2px;
    padding-bottom: 1em;
}
.taulu {
    width: 800px;
    height: 600px; /* auto? */
    max-width: 100%;
    background-color: #303030;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    font-family: 'Schoolbell', cursive;
    text-align: center;
    color: snow;
    font-size: 32px;
}
.taulureuna {
    border: 8px solid;
    border-image-source: linear-gradient(33deg, brown, goldenrod);
    border-image-slice: 1;
}
.fa-star {
    color: yellow !important;
}
.kysymyscounter {
    font-size: 0.6em;
}
.pieniteksti {
    font-size: 0.75em;
}
.isoteksti {
    font-size: 1.6em;
}