/* Helinä Marttila
 * Habanerot
 * Web-projekti 2020 */

.visakys {
    margin-bottom: 20px;
}

.visateksti {
    color: #4d0039;   
}

.kysväri {
    color: #00b300;
    font-size: 120%;
}

.oikea {
    background-color: #00b300;
    border-radius: 10px;
}

.väärä {
    background-color: #ff3300;
    color: white;
    border-radius: 10px;
}

.pehmustus {
    padding: 30px;
}

.otsikko {
    text-align: center;
    font-family: cursive;
    background-color: #4d0039;
    color: white;
    border-radius: 10px;
}

.modal-content {
    background-color: #ff9900;
}

/* Kuvaelementtien tyylimäärittelyt*/
figure {
    width: 30%;
    vertical-align: top;
}

/* label-elementtien tyylimäärittelyt*/
.label-luumu {
    color: white;
    background-color: #4d0039;
    border-color: #4d0039;
    border-radius: 10px;
    padding: 10px;
}

.label-matikka {
    border: 2px solid #4d0039;
    color: #4d0039;
    padding: 10px 20px;
    border-radius: 12px;
}

/* Painikkeiden tyylimäärittelyt*/
.btn-matikka {
    border: 2px solid #4d0039;
    color: #4d0039;
    padding: 10px 20px;
    border-radius: 12px;
}

.btn-luumu {
    color: white;
    background-color: #4d0039;
    border-color: #4d0039;
    border-radius: 10px;
    padding: 10px;
}

.btn-luumu:hover {
    background-color: #4d0039;
    opacity: 0.5;
}

