/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1.4.2020, 19:16:57
    Author     : Juuso
*/
.oikea {
    background-color: greenyellow;
    border-radius: 10px;
}

.väärä {
    background-color: #ff3300;
    color: white;
    border-radius: 10px;
}
.keskelle {
    margin: auto;
    text-align: center;
}
