/*
Niina Nissinen
*/
/* 
    Created on : 1.4.2020, 19:34:12
    Author     : niina_000
*/

.oma {
    font-weight: bold;  
}

div {
    padding-left: 15px;
}

.omadivbg {
    background-color: #98FB98;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    border-radius: 10px;
}

.kysymyscolor {
    background-color: #EEC900;
    font-weight: bold;
}
img {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.omadivbgy {
    background-color: #EEEE00;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 10px;
}
.omabgtur {
    background-color: paleturquoise;
    padding-bottom: 25px;
    border-radius: 10px;
    }
.omadivrad {
    border-radius: 10px;
}
.omapad {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    border-radius: 10px;
}
.vastauscolor {
    background-color: #98FB98;
    font-weight: bold; 
}
.palkintocolor {
    background-color: pink;
}



