section {
    border: 1px bisque;
    border-radius: 1em;
    background-color: #0c0
}

div {
    border-radius: 2em;
    margin-bottom: 0.1rem;
}

.marked {
    background: #D4E7EE
}

label {
    margin: 0rem;
    padding: 0.25rem;
}

lisätieto {
    background: #D4E7EE
}

.lisätieto p {
    padding: 0.25rem;
    margin: 0rem;
}

modal h5 {
    text-align: center
}