/* Sivustolla käytetyt teemavärit
/* appelsiininoranssi: #ff3300
/* omenanvihreä: #00b300
/* aprikoosinvärinen: #ff9900
/* tumman viinirypäleen värinen, vain vaalea teksti: #4d0039
/***/

main {
   background-image: radial-gradient(#ffffe6 7px, snow 6px);
   background-size: 20px 20px;
   background-color: snow;
   border-radius: 1em;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #ffffe6;
    max-width: 960px;
    margin: auto;
}

.teksti {
    background-color: white;
    color: green;
}

header {    
    text-align: center;
    font-family: 'Gaegu', cursive;
    background-color: #00b300;
    border-radius: 1em;
}
footer {
    background-color: #ff9900;
    border-radius: 1em;
    color: whitesmoke;
}

footer p {
    font-family: 'Gaegu', cursive;
    margin: 1em;
}

.etusivu {
    display: inline-block;
    vertical-align: top;
}

img {
    width: 100%;
}
.kuvateksti {
    position: relative;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}
.ala-vasen {
    position: absolute;
    bottom: 1px;
    left: 10px;
  }

.wrong {
    background:#f77;
}

.right {
    background: #7f7;
}

.marked {
    font-weight: bold;
}

.not_visible {
    display: none;
}

ul {
    list-style-type: none;
}

.taustaväri {
    background-color: white;
}

.btn-omena {
    background-color: #00b300;
    border-color: #00b300;
    color: #fff;
}

.btn-omena:hover {
    background-color: #00b300;
    opacity: 0.5;
}

/* Navigaatiopalkin ulkoasun tyylit */
.nav-painike {
    border: 2px solid #0B252F;
    border-radius: 10px;
    margin: 1px;
    background-color: #ff9900;
}

.dropdown-menu {
    text-align: center;
    border: 0;
    background-color: #ff9900;
    width: 100%;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem 0rem;
}

.dropdown-item.active {
    color: #fff;
    background-color: #ff9900;
}
